body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 2em;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66bfbf;
    line-height: 2;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

.pro {
    text-decoration: underline;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 250px;
}

.top-cloud {
    position: absolute;
    right: 700px;
    top: 250px;
}

.bottom-cloud {
    position: absolute;
    left: 700px;
    bottom: 300px;
}

.skills-img {
    width: 200px;
}

.education-img {
    width: 200px;
}

.skills-table {
    border: 1px solid;
    margin: 0 auto;
}

.education-ul {
    margin: auto;
    list-style-type: none;
}

.education-hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 50px;
}

.footer-link {
    color: #11999E;
}

.btn {
    color: #11999E;
}