body {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(135, 255, 219, 1) 78%,
		rgba(0, 212, 255, 1) 100%
	);
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

header {
	text-align: center;
	color: #fff;
}

#messages {
	padding-bottom: 30%;
}

li {
	list-style-type: none;
	margin-bottom: 10px;
	background-color: #6929ca;
	padding: 5px;
	border-radius: 10px;
	color: white;
	width: 50%;
}

li span {
	font-style: italic;
	font-weight: bolder;
	color: #b5b0b9;
}

#chat {
	width: 80%;
	margin: auto;
}

#message-form {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #b7b5b9;
}

input {
	width: 70%;
	height: 30px;
}

button {
	width: 25%;
	height: 38px;
}

.sent {
	text-align: left;
	background-color: #a79cb3;
	margin-left: 50%;
}

.sent span {
	margin-left: 5px;
	color: #6929ca;
}
